@font-face {
  font-family: ibm-thin;
  src: url(/static/fonts/IBMPlexSans-Thin.ttf);
}
@font-face {
  font-family: ibm-regular;
  src: url(/static/fonts/IBMPlexSans-Regular.ttf);
}
@font-face {
  font-family: ibm-bold;
  src: url(/static/fonts/IBMPlexSans-Bold.ttf);
}
@font-face {
  font-family: noto-thin;
  src: url(/static/fonts/NotoSansJP-Thin.otf);
}
@font-face {
  font-family: noto-regular;
  src: url(/static/fonts/NotoSansJP-Regular.otf);
}
@font-face {
  font-family: noto-medium;
  src: url(/static/fonts/NotoSansJP-Medium.otf);
}
@font-face {
  font-family: noto-bold;
  src: url(/static/fonts/NotoSansJP-Bold.otf);
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --navColor: hsl(0, 0%, 0%);
  --primaryColor: hsl(0, 0%, 97%);
  --primaryTransition: all 0.35s ease-in-out 0s;
  --secondaryTransition: all 0.5s ease-in-out 0s;
  --specialColor: #efce1c;
  --primaryWidth: 85vw;
  --primaryMargin: 0 auto;
  --heroFontFa: Microsoft JhengHei;
}
body {
  font-family: Acme, sans-serif;
  text-transform: capitalize;
  font-size: clamp(1rem, 2vw, 1.24rem);
  letter-spacing: 0.08rem;
  line-height: 1.6rem;
  font-weight: 400;
  background-image: -o-linear-gradient(71deg, #0f9fc0 0%, #a31be3 100%);
  background-image: linear-gradient(19deg, #0f9fc0 0%, #a31be3 100%);

  color: var(--primaryColor);
}
h1,
h2,
h3 {
  font-family: ibm-bold;
}
#main {
  width: var(--primaryWidth);
  margin: var(--primaryMargin);
}
ul {
  list-style: none;
  background-color: var(--navColor);
  position: fixed;
  width: 100vw;
  overflow: hidden;
}
ul li {
  float: right;
}
ul li a {
  color: var(--primaryColor);
  text-decoration: none;
  display: block;
  padding: 13px 20px;
  text-align: center;
  font-family: ibm-bold;
  font-size: 1.1rem;
  transition: var(--primaryTransition);
}
ul li a:hover {
  color: var(--specialColor);
  background-color: hsl(0, 0%, 15%);
}
.golden {
  color: var(--specialColor);
}
#logo {
  float: left;
}
#logo-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}
#logo-text:hover {
  color: var(--primaryColor);
  background-color: black;
}
#active {
  color: var(--specialColor);
}
#hero {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.42)),
    url(/static/images/qjj7n09w26761.jpg) center/cover no-repeat fixed;
  width: 100%;
  height: 100vh;
  padding-top: 34px;
}
#hero-con {
  width: var(--primaryWidth);
  margin: var(--primaryMargin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 200px;
  height: 30%;
}
#title {
  font-size: 5.7rem;
  color: var(--primaryColor);
  font-family: var(--heroFontFa);
  animation: slide-right 1s ease-in-out 0s 1 normal backwards;
}
#sup-title {
  font-size: 1.3rem;
  font-family: var(--heroFontFa);
  text-indent: 50px;
  animation: slide-left 1s ease-in-out 0s 1 normal backwards;
}
#desc-button-div {
  padding-left: 100px;
}
#desc-button {
  color: var(--primaryColor);
  text-decoration: none;
  border: 5px solid black;
  border-radius: 56px;
  padding: 9px;
  font-family: var(--heroFontFa);
  font-size: 1rem;
  justify-self: center;
  transition: var(--secondaryTransition);
}
#desc-button:hover {
  background-color: var(--navColor);
  border: 2px solid white;
  padding: 12px;
}
/* #image {
  width: 100%;
  display: block;
  border-radius: 3px;
}
#img-div {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: -1px 3px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 9px 0px rgba(0, 0, 0, 0.75);
}
#img-div:hover {
  -webkit-box-shadow: 0px 2px 16px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 16px -1px rgba(0, 0, 0, 0.75);
}
#img-caption {
  text-align: center;
  font-size: clamp(0.88rem, 2vw, 1.06rem);
  line-height: 35px;
} */
#what-is-gintama {
  font-size: clamp(1.4rem, 4vw, 1.9rem);
}
#basic-story {
  margin-top: 8px;
  margin-bottom: 20px;
}
#tribute-link {
  text-decoration: none;
  color: hsl(229, 72%, 45%);
}
#tribute-link:hover {
  text-decoration: underline;
  color: hsl(229, 100%, 46%);
}
#tribute-link:active {
  color: rgb(0, 90, 0);
}
#description-div {
  width: 75vw;
  /* border: 2px solid black; */
  margin-left: auto;
  margin-right: auto;
}
#description-div-image {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 12px;
}
#description-div-image:hover {
  -webkit-box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.75);
}
#description-image {
  width: 100%;
  display: block;
  border-radius: 3px;
}
#description-paragraph {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.8fr 2fr 0.8fr 1.2fr 0.8fr 2fr 0.8fr;
  grid-template-rows: 0.8fr 2fr 0.8fr 1.2fr 0.8fr 2fr 0.8fr;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
}
#description-paragraph > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
#description-paragraph > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
#description-paragraph > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
#description-paragraph > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
#description-paragraph > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
#description-paragraph > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
#description-paragraph > *:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
#description-paragraph > *:nth-child(8) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
#description-paragraph > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
#description-paragraph > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
#description-paragraph > *:nth-child(11) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}
#description-paragraph > *:nth-child(12) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}
#description-paragraph > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
#description-paragraph > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}
.description-h4 {
  font-family: noto-regular;
  font-size: clamp(0.88rem, 9%, 1.4rem);
}
#description-titles {
  font-size: clamp(0.94rem, 10%, 1.5rem);
}
#story {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2/1/2;
}
#story-con {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 2/1/2/5;
}
#genres {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: 3/1/3/1;
}
#genres-con {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4/1/4/3;
}
#score {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: 5/1/5/1;
}
#score-con {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 6/1/6/2;
}
#rank {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: 7/1/7/1;
}
#rank-con {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 8/1/8/2;
}
#episodes {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: 3/4/3/4;
}
#episodes-con {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: 4/4/4/4;
}
#seasons {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: 5/4/5/4;
}
#seasons-con {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
  grid-area: 6/4/6/4;
}
#release {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
  grid-area: 7/4/7/4;
}
#release-con {
  -ms-grid-row: 8;
  -ms-grid-column: 4;
  grid-area: 8/4/8/4;
}
#tribute-info {
  clear: both;
}
#main {
  margin-bottom: 30px;
}
@keyframes slide-right {
  from {
    transform: translate(-200px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-left {
  from {
    transform: translate(200px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
